.profile-container
  = render '/layouts/header'

  %main.profile-content.clearfix
    = render '/layouts/sidenav'

    .profile-main
      .profile-main__content
        %h2..profile-main__content-head
          プロフィール
        .profile-main__content-icon
        .profile-main__content-text