.login-out-main-main
  = render partial: 'layouts/header'

  .log-out-main
    = link_to destroy_user_session_path, method:"delete" do 
      .log-out-box
        .log-out-box-button
          %p.log-out
            ログアウト

      = render 'layouts/sidenav'

  = render 'layouts/footer'