.logout-all
  = render 'layouts/header'
  
  .logout-main
    = render 'layouts/sidenav'
    .logout-box
      .logout-box-button
        =link_to destroy_user_session_path,method:"delete" do
          %p.log-out
            ログアウト
  = render 'layouts/sale-logo'
  = render 'layouts/footer'

