.mypage-container
  = render '/layouts/header'
  %main.mypage-content.clearfix
    = render '/layouts/sidenav'
    .mypage-main   
      %section.mypage-user-icon
        = link_to "" do
          %figure
            %img{alt: "", hight: "60", src: "", width: "60"}
          %h2.user-name ああああ
          .mypage-number
            .mypage-evaluetion
              評価
              %span.mypage-bold
                0
            .mypage-exhibit
              出品数
              %span.mypage-bold
                0

    
  = render '/layouts/footer'
    