.mypage-container
  = render '/layouts/header'

  %main.mypage-content.clearfix
    = render '/layouts/sidenav'
    
    .mypage-main   
      .mypage-user-icon
        = link_to "" do
          %figure.icon-figure
            %img{alt: "", hight: "60", src: "https://static.mercdn.net/images/member_photo_noimage_thumb.png", width: "60"}
          %h2.user-name ああああ
          .mypage-number
            .mypage-evaluetion
              評価
              %span.mypage-bold
                0
            .mypage-exhibit
              出品数
              %span.mypage-bold
                0


      %ul.mypage-main__tab.nab-tabs
        %li.notice-todo.active
          %h3.tab-notice-todo
            =link_to href="#notice-tab" data-toggle="tab", class: "tab-notice-todo__link" do
              お知らせ
        %li.notice-todo.active
          %h3.tab-notice-todo
            =link_to href="#todo-tab" data-toggle="tab", class: "tab-notice-todo__link" do
              やることリスト

      .mypage-main__tab-content
        %ul.mypage-main__tab-content__list.active
          %li.mypage-main__tab-content__list-item
            =link_to "", class: "mypage-main__tab-content__list-item__link" do
              %img.mypage-main__tab-content__list-item__link-img{src: "https://static.mercdn.net/images/mercari_profile.png"}
              .mypage-main__tab-content__list-item__link-body
                .mypage-main__tab-content__list-item__link-bdy__text
                  fgfg
                .mypage-main__tab-content__list-item__link-body__time
                  %i.fal.fa-clock
                  %span.time-text
                    1 時間前
              %i.fas.fa-angle-right
        %ul.mypage-main__tab-content__list.active
          %li.mypage-main__tab-content__list-item
            =link_to "", class: "mypage-main__tab-content__list-item__link" do
              %img.mypage-main__tab-content__list-item__link-img{src: "https://static.mercdn.net/images/mercari_profile.png"}
              .mypage-main__tab-content__list-item__link-body
                .mypage-main__tab-content__list-item__link-bdy__text
                  fgfg
                .mypage-main__tab-content__list-item__link-body__time
                  %i.fal.fa-clock
                  %span.time-text
                    1 時間前
              %i.fas.fa-angle-right
          %li.mypage-main__tab-content__list-go
            =link_to "", class: "mypage-main__tab-content__list-go__link" do
              一覧を見る


      .mypage-main__buy
        %h2.mypage-main__buy-product
          購入した商品
      .mypage-main__tab
        %li.notice-todo.active
          %h3.tab-notice
            =link_to "", class: "tab-notice-todo__link" do
              取引中
        %li.notice-todo.active
          %h3.tab-todo
            =link_to "", class: "tab-notice-todo__link" do
              過去の取引
      .mypage-main__list
        %ul.mypage-main__list-nowwas.active
          %li.mypage-main__list-nowwas__item
            取引中の商品がありません
        %ul.mypage-main__list-nowwas.active
          %li.mypage-main__list-nowwas__item
            過去に取引した商品はありません



  = render '/layouts/footer'