.single-container
  .single-header



  .l-single-container_
    .l-single-container_top
      .l-single-head
        購入内容の確認
      .buy-content-1
        .buy-content-inner
          .buy-item-image
            =image_tag '/otya2.png', class: 'buy__item__image'
          .buy-item-name
            おーーーいおちゃあああああああ
          .buy__price__box
            .buy-price-ja
              .buy-price-ja
                ¥1,400
              .item-shipping-fee
                送料込み
            .buy-accordion
            








      .buy-content-2





      .buy-content-3






