// Place all the styles related to the momo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin loginbox($background) {
  width:  343px;
  height: 50px;
  background: $background;
  margin: 15px auto;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 13px;
  position: relative;
  
}

@mixin loginicon {
  position: absolute; top:17px; left:20px;
  font-size: 15px;
  text-align: center;

}

* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  display: none;
}

.body-main{
  width: 100%;
  height: 1200px;
  background-color: #fafafa;
}


.header{
  background: #f5f5f5;
  width: 100%;
  height: 128px;
  text-align: center;
  
}

.rootlink{
  transform:scale(0.7);
  height: 80px;
  margin: 0 auto;
}

.single-main{
  background: #fafafa;
  width: 100%;
  height: 70vh;
  margin: 0 auto;
}

h2{
  text-align: center;
  width: 700px;
  height: 97px;
  border-bottom: 1px solid rgb(245, 245, 245);
}




.main{
  background: white;
  width: 700px;
  height: 400px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  &__mail{
    @include loginbox(#EA352D);
    color: white;

    }
  &__facebook{
    @include loginbox(#385185);
    color: white;
    }
     
  &__google{
   @include loginbox(white);
   border: 1px solid gray ;
   color: black;
    }
}


.fa-envelope::before{
  @include loginicon
}
.fa-facebook-square::before{
  @include loginicon
}
.fa-google{
  @include loginicon
}



.single-footer{
  width: 100%;
  height: 200px;
  background: #f5f5f5;
  text-align: center;
  color: #000;
}

.login-footer-list {
  display: flex;
  justify-content: center;
  margin: 0 0 60px 0;
  padding-top: 30px;
  a{
    margin: 0 15px 0 15px;
    font-size: 12px;
    color: #333333;
  }
}






.root-link-fooder{
  width:70px;

}

.login-footer-list-text{
 font-size: 5px;

}