// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  margin:0;
}

a{
  text-decoration:none;
  color: black;
}
.container{
  max-width:1000px;
  margin:0 auto;
  padding-top: 8px;
}

li{
  list-style:none;
}

//亦賀編集（検索ボタン。アイコン）
.header__item__search{
  height:50px;
  &__text{
    display: flex;
    background-color: rgb(245, 245, 245);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    border-radius: 4px;
    position: relative;
  }
}
.header__top-button__label{
  position: absolute;
  right: 0;
}
.header__top-button{
  height: 40px;
  width: 45px;
  background-color: rgb(245, 245, 245);
  border-style: none;
  margin-top: 2px;
  margin-right: 2px;
}
//亦賀編集終わり

.header{
  
  &__top{
    height:50px;
      display:flex;
      justify-content:space-between;
      &-logo{
      width:180px;
    }
    &-search{
      background:rgb(245, 245, 245);;
      border-style: none;
      width:770px;
      height:46px;
      float:right;
    }
  }
  &__bottom{
    display:flex;
    height:50px;
    justify-content:space-between;
    align-items: center;
    font-size:14px;
    &__left{
      display:flex;
      padding:0;
      &-list{
        margin-right:20px;
      }
    }
    &__right{
      display:flex;
      line-height:50px;
      &-list{
        margin-left:20px;
        .my-page{
          line-height:50px;
          border-radius:50%;
          width:26px;
          height:26px;
        }
      }
    }
  }
}

.slide{
  position:relative;
  widows: 100vw;
  overflow:hidden;
  background: white;
  &-image{
    // position:absolute;
    width:100vw;
    height:auto;
  }
}

.category{
  background:#fafafa;
  &__heading{
    text-align:center;
    margin:0;
    background:white;
    &-list{
      margin:0;
      display:flex;
      justify-content:center;
      li{
        color:black;
        background:rgba(lightgrey,0.7);
        margin-right:20px;
        padding:0 15px;
        height:30px;
        line-height:30px;
        border-radius:15px;
        margin-bottom:20px;
      }
    }
  }
  &-new{
    display:flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__products{
    display:flex;
    flex-wrap: wrap;
    padding-bottom:50px;
  }
  &__link{
    float:right;
  }
}




footer{
  
  background:black;
  color:white;
  .footer-image{
    width:100vw;
  }
  .text-area{
    display:flex;
    width: 1020px;
    margin: 0 auto;
    li{
      font-size: 12px;
      color:lightgrey;
      margin: 25px;
    }
    _heading{
      font-size: 16px;

    }
  }
}

.popularity{
  font-size: 28px;
  height: 90px;
  padding-top:40px;
  font-weight: 800;
}
.women-new-item{
  font-size: 25px;
  font-weight: 800;  
}


.sale-logo{
  position:fixed;
  z-index:1;
  bottom:30px;right:20px;
  background:red;
  border-radius:50%;
  width:150px;
  height:150px;
  color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  .fa-camera{
    font-size:50px;
  }
}

