.oya-content
  =render '/layouts/header'
  .kodomo-content
    =render '/layouts/sidenav'
    .mago-content 
      %h2.mago-content__top 支払い方法
      .mago-content__midle
        .mago-content__midle__up クレジットカード一覧
        .mago-content__midle__senter
          .mago-content__midle__senter__addbox
            .mago-content__midle__senter__addbox__l
              .mago-content__midle__senter__addbox__m
                %i.far.fa-credit-card
              =link_to new_card_path do
                .mago-content__midle__senter__addbox__s
                  クレジットカードを追加する
        
        .mago-content__midle__bottom 支払い方法について
        

  =link_to new_product_path do
    .sale-logo
      出品
      %i.fa.fa-camera
  
  =render '/layouts/footer'