$background:#fafafa;

//全体のいろ
$White_1: rgb(245, 245, 245);
//TOPページの人気のカテゴリー
$White: rgb(255, 255, 255);
$a: #fafafa;
//footerのbackground
$footer_background: rgb(34, 34, 34);

$a: rgb(0, 149, 238);
//link_toは基本この色
$linl_to: #0099e8;

$a: #ea352d;
$a: rgb(234, 53, 45);


