.login-out-main-main{
  background: whitesmoke;
  
}
.log-out-main-header{
  background: red;
}


.log-out-main{
  width: 1000px;
  height:1511px;
  margin: 0 auto;
  background: #fafafa;
  position: relative;
  margin-top:60px;
}
  
  
  
.log-out-box{
  width: 600px;
  height: 200px;
  background:white;
  position: absolute;
  right: 1px;
  top:70px;

}

.log-out-box-button{
  width: 400px;
  height: 60px;
  background:#EA352D;
  margin:70px 50px 34px 90px;
  p{
    text-align: center;
    color: white;
    padding-top: 15px;
  }
}


