.logout-all{
 margin: 0 auto; 
 background: #fafafa;

.logout-main{
  width: 1020px;
  height:1511px;
  margin: 0 auto;
  background: #fafafa;
  margin-top:40px;
}

.logout-box{
  width: 700px;
  height: 179px;
  background:white;
  margin: 0 auto;
  float: right;
  

}

.logout-box-button{
  width: 320px;
  height: 50px;
  background:#EA352D;
  margin-top: 60px;
  margin-left: 190px;
  margin-right: 0;
  margin-bottom: 0;

  p{
    text-align: center;
    color: white;
    padding-top: 15px;
  }
}
}

