.log-out-main{
  width: 100%;
  height:1511px;
  background: #fafafa;
  position: relative;
}
  
  
  
.log-out-box{
  width: 600px;
  height: 200px;
  background:white;
  margin: right;
  position: absolute;
  top: 200px;
  right:300px

}

.log-out-box-button{
  width: 400px;
  height: 60px;
  background:#EA352D;
  margin:70px 50px 34px 90px;
  p{
    text-align: center;
    color: white;
    padding-top: 15px;
  }
}


