.mypage-container{
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
   
  .mypage-content{
    margin: 40px auto 0;
    width: 1020px;

    .mypage-main{
      float: right;
      width: 700px;

      .mypage-user-icon{
        position: relative;
        padding: 20px;
        background: #ea352d;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        height: 200px;

        &>a{
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
          color: #333;

          figure{
            overflow: hidden;
            width: 60px;
            height: 60px;
            margin: 0 auto;
            border-radius: 50%;
          }

          .user-name{
            margin: 8px 0 0;
            font-size: 14px;
          }

          .mypage-number{
            margin: 8px 0 0;
            font-size: 0;

            .mypage-evaluetion{
              display: inline-block;
              font-size: 14px;

              .mypage-bold{
                margin: 0 0 0 8px;
                font-size: 16px;
              }
            }
          }
        }
      }      
    }


    .side-nav{ 
      float: left;
      width: 280px;
      margin: 0 40px 0 0;
      

      .nav-mypage{
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;

        &__list{
          list-style: none;

          &-item{
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background-color: #fff;
            font-size: 14px;
            color: #333;
            border: solid 1px #fafafa;

            &:active{
              background: #ccc;
              font-weight: 600;

              .fa-angle-right{
                color: #333;
              }
            }

            &-number{
              position: absolute;
              top: 50%;
              right: 32px;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background: #ea352d;
              text-align: center;
              line-height: 24px;
              color: #fff;
              font-size: 13px;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              display: none;
            }

            .fa-angle-right{
              position: absolute;
              top: 50%;
              right: 16px;
              color: #ccc;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              -webkit-transition: all ease-out .2s;
              transition: all ease-out .2s;
              font-size: 1.3rem;
            }
          }
        }

        &__head{
          margin: 40px 0 0;
          font-size: 16px;
          font-weight: bold;

          &+.nav-mypage__list{
            margin: 8px 0 0;
          }
        }
      }
    }
  }
}