.single-container{
  background: #f5f5f5;
}

.single-header{
  height: 128px;
  padding: 16px;



  background-color: lightskyblue;
}



.single-main{

}
.l-single-container{
  width: 700px;
  margin: 0 auto;



  background-color: aqua;
}

.l-single-head{
  padding: 16px;
  font-size: 16px;
  

}

.buy-content{

}

.buy-content-inner{

}


  .buy-content{

  }