.card-wrapper
  =link_to product_path(1) do
    .card
      .card__top
        =image_tag '/027e61bb6e6e1b9e3c94e408e71dd6e2.png',class:"card__top-image"
        .card__top-price ￥100
      .card__bottom
        %p.card__bottom-text 早よ買わな。なくなるで