.card-wrapper
  =link_to product_path(product) do
    .card
      .card__top
        =image_tag product.images[0].src.url,class:"card__top-image"
        .card__top-price 
          ="¥#{product.price}"
      .card__bottom
        %p.card__bottom-text
          =product.text 