.category-new
  %h3.women-new-item #{category.name}新着アイテム
  =link_to "もっと見る >",category_path(category),class:'category-new-link'
.category__products
  -category.products.each do |product|
    = render partial: "card" ,locals:{ product: product}
