.items-boxs
  .items-box
    =link_to "" do
      .items-box-photo
        =image_tag '/otya2.png', class: ''
      .items-box-body
        .items-box-name
          お茶お茶お茶
        .items-box-num
          .items-box-price
            ¥4,800