=render '/layouts/header'

.slide
  =image_tag "/cb396095b5f07e7117201fe2c2980ee1.png" ,class:"slide-image"
  =image_tag "" ,class:""

.category
  .category__heading
    %h3.popularity
      人気のカテゴリー
    %ul.category__heading-list
      -@categories.each do |category|
        %li
          =link_to category.name ,category_path(category)
  .container
    = render partial: "category" ,collection: @categories

=render '/layouts/sale-logo'
=render '/layouts/footer'
