=render '/layouts/header'

.slide
  =image_tag "/cb396095b5f07e7117201fe2c2980ee1.png" ,class:"slide-image"
  =image_tag "" ,class:""

.category
  .category__heading
    %h3.popularity
      人気のカテゴリー
    %ul.category__heading-list
      -@categories.each do |category|
        %li
          =link_to category.name ,category_path(category) 

  .container
    -@categories.each do |category|
      .category-new
        %h3.women-new-item レディース新着アイテム
        =link_to "もっと見る","",class:'category-new-link'
      .category__products
        =render 'card'
        =render 'card'
        =render 'card'
        =render 'card'
        =render 'card'
        =render 'card'
        =render 'card'
        =render 'card'
        =render 'card'
        =render 'card'

=link_to new_product_path do
  .sale-logo
    出品
    %i.fa.fa-camera

=render '/layouts/footer'
