=render '/layouts/header'

.slide
  =image_tag "/cb396095b5f07e7117201fe2c2980ee1.png" ,class:"slide-image"
  =image_tag "" ,class:""

.category
  .category__heading
    %h3.popularity
      人気のカテゴリー
    %ul.category__heading-list
      =link_to "" do
        %li レディース
      =link_to "" do
        %li メンズ
      =link_to "" do
        %li 家電・スマホ
      =link_to "" do
        %li おもちゃ・ホビー・グッズ
  .container
    .category-new
      %h3.women-new-item レディース新着アイテム
      =link_to "もっと見る","",class:'category-new-link'
    .category__products
      =render 'card'
      =render 'card'
      =render 'card'
      =render 'card'
      =render 'card'
      =render 'card'
      =render 'card'
      =render 'card'
      =render 'card'
      =render 'card'

=link_to new_product_path do
  .sale-logo
    出品
    %i.fa.fa-camera

=render '/layouts/footer'
