= form_with model:"" do|f|
  .exhibit
    .exhibit-header
      %h1
        = link_to 'https://www.mercari.com/jp/'
    .exhibit-main
      %senction.l-exhibit-container_buy-item-container
        #sell-container
          .data-
            .sell-container-inner
              %h2= "商品の情報を入力"
              %form.sell-form
                .sell-exhibit-image
                  %h3= "出品画像"