=render '/layouts/header'


.default-container




  .item-box-container
    %h1.item-name
      ダボッと可愛く映え☆ゲス USA+刺繍 オーバーサイズ プルオーバー パーカー
    %p.item-wording
      『遠赤外線 電気ストーブ YAMAZEN』は、13回の取引実績を持つトレッセさんから出品されました。電気ヒーター/家電・スマホ・カメラの商品で、静岡県から1~2日で発送されます。

    .item-main-content
      .item-photo
        .owl-carousel
          .owl-stage-outer
            .owl-stage
              =image_tag '/otya2.png', class: 'owl-item'
              =image_tag '/otya.png', class: 'owl-item'
              =image_tag '/otya2.png', class: 'owl-item'
              =image_tag '/otya.png', class: 'owl-item'
              =image_tag '/otya2.png', class: 'owl-item'
              =image_tag '/otya.png', class: 'owl-item'
              =image_tag '/otya2.png', class: 'owl-item'
              =image_tag '/otya.png', class: 'owl-item'
              =image_tag '/otya2.png', class: 'owl-item'
              =image_tag '/otya.png', class: 'owl-item'
            .owl-nav
            .owl-dots
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'
              =image_tag '/otya.png', class: 'owl-dot'




      %table.item-detail-table
        %tr.item-detail-table-tr
          %th.item-detail-table-th  出品者
          %td.item-detail-table-td
            =link_to ""  do
              お名前
            //評価アイコン始
            -# %div
            -#   .item-user-ratings
            -#     %i.fas.fa-grin
            -#     %span 36
            -#   .item-user-ratings
            -#     %i.fas.fa-meh
            -#     %span 0
            -#   .item-user-ratings
            -#     %i.fas.fa-frown
            -#     %span 0
            //評価アイコn終
        %tr.item-detail-table-tr
          %th.item-detail-table-th カテゴリ
          %td.item-detail-table-td
            %ul.item-detail-table_category
              %li
                =link_to ""  do
                  メンズ
              %li
                =link_to ""  do
                  %i.fas.fa-chevron-right 靴
              %li
                =link_to ""  do
                  %i.fas.fa-chevron-right スニーカー
        %tr.item-detail-table-tr
          %th.item-detail-table-th ブランド
          %td.item-detail-table-td
            =link_to ""  do
              ナイキ
        %tr.item-detail-table-tr
          %th.item-detail-table-th 商品状態

          %td.item-detail-table-td 
            = @product.status



          %td.item-detail-table-td 
        %tr.item-detail-table-tr
          %th.item-detail-table-th  配送料の負担
          %td.item-detail-table-td
            = @product.burden
        %tr.item-detail-table-tr
          %th.item-detail-table-th  配達方法
          %td.item-detail-table-td
            = @product.way
        %tr.item-detail-table-tr
          %th.item-detail-table-th  配送元地域
          %td.item-detail-table-td
            =link_to ""  do
              大阪
        %tr.item-detail-table-tr
          %th.item-detail-table-th  発送日の目安
          %td.item-detail-table-td
            = @product.delivery_days


    .item-price-box.text-center
      %ul.item-price-boxs
        %li.item-price-box-price ¥10,800
        %li.item-price-box-tax (税込)
        %li.item-price-box-shipping-fee 送料込み

    =link_to transaction_buy_product_path do
      .item-buy-btn
        購入画面に進む

    .item-description
      %p.item-description-text
        倉庫から出てきたデットストック品（新品未使用品）です。
        k赤かっk閣下閣下かっかっkかかっっか

    //massege-------------------------
  .item-detail-message
    .message-content
      ここにはメッセージ機能？？？？？
  
  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link-prev
      =link_to "" do
        %i.fas.fa-chevron-left
        おーいお茶
    %li.nav-item-link-next
      =link_to "" do
        綾鷹
        %i.fas.fa-chevron-right

  .item-social-media-box
    .text-center
      %ul.text-center-icon
        =link_to "" do
          %li.icon-facebook
            %i.fab.fa-facebook
        =link_to "" do
          %li.icon-twitter
            %i.fab.fa-twitter
        -# =link_to "" do
        -#   %li.icon-line
        -#     %i.fab.fa-line
        =link_to "" do
          %li.icon-pint
            %i.fab.fa-pinterest



  .items-in-user-profile
    .items-box-container
      =link_to "" do
        .items-box-head
          ●●さんのその他出品
        .items-box-content
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
    .items-box-container
      =link_to "" do
        .items-box-head
          ●ほかの商品
        .items-box-content
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
          =render 'show_card'
          











=render '/layouts/footer'
