- case params.values_at :controller, :action

- when ['users', 'show']
  - breadcrumb :mypage

- when ['users', 'edit']
  - breadcrumb :profile

- when ['users', 'index']
  - breadcrumb :pay

- when ['users', 'log_out']
  - breadcrumb :logout

= breadcrumbs separator: " &rsaquo; "