- case params.values_at :controller, :action

- when ['users', 'show']
  - breadcrumb :mypage

- when ['users', 'user_edit']
  - breadcrumb :infomation

- when ['users', 'edit']
  - breadcrumb :profile

- when ['card', 'show']
  - breadcrumb :pay

- when ['card', 'new']
  - breadcrumb :pay

- when ['users', 'log_out']
  - breadcrumb :logout

= breadcrumbs separator: " &rsaquo; "