//products.scss
%footer
  =image_tag "/027e61bb6e6e1b9e3c94e408e71dd6e2.png",class:"footer-image"
  .text-area
    %ul.footer__text-area-lists
      %h5.class:footer__text-area_heading メルカリについて
      %li.class:footer__text-area_list 会社概要（運営会社)
      %li.class:footer__text-area_list 採用情報
      %li.class:footer__text-area_list プレリリースコード
      %li.class:footer__text-area_list 公式ブログ
      %li.class:footer__text-area_list メルカリロゴ利用ガイドライン
    
    %ul.footer__text-area-lists
      %h5.class:footer__text-area_heading ヘルプ＆ガイド
      %li.class:footer__text-area_list らくらくメルカリ便
      %li.class:footer__text-area_list ゆうゆうメルカリ便
      %li.class:footer__text-area_list 大型メルカリ便
      %li.class:footer__text-area_list 車体取引ガイド
      %li.class:footer__text-area_list メルカリあんしん・あんぜん宣言！
      %li.class:footer__text-area_list 偽ブランド品撲滅への取り組み
      %li.class:footer__text-area_list メルカリボックス

    %ul.footer__text-area-lists
      %h5.class:footer__text-area_heading プライバシーポリシー
      %li.class:footer__text-area_list メルカリ利用規約
      %li.class:footer__text-area_list あんしんスマホサポートサービス制度に関する利用特約
      %li.class:footer__text-area_list コンプライアンスポリシー
      %li.class:footer__text-area_list 個人データのあんぜん管理に係る基本方針
      %li.class:footer__text-area_list 特定商取引法に関する表記
      %li.class:footer__text-area_list 資金決済法に基づく表示
      %li.class:footer__text-area_list 法令遵守と犯罪抑止のために

    %ul.footer__text-area-lists
      %h5.class:footer__text-area_heading 国
      %li.class:footer__text-area_list 日本
  .footer__icon
  %p.mercari2019 ©︎2019 mercari
  =image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
